<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INGREDIENTES PARA PASTA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Ingredientes</ion-label>
    </ion-list-header>
    <div *ngFor="let ingredient of ingredients; index as i">
      <ion-item-sliding  (ionSwipe)="changeStatus(i)">
        <ion-item>
          <img src={{ingredient.imagen}} width="100px" height="50px">
          <ion-label>{{ingredient.name}}</ion-label> 
          <ion-chip color="success" *ngIf="ingredient.active">
            <ion-label>Activo</ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="!ingredient.active">
            <ion-label>Inactivo</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item-options side="start">
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
